<ion-view title="Avaliar" id="page10" style="background-color:#424242;">
  <ion-content padding="true" class="has-header">
      <div class="list">
          <label class="item item-select" id="suporte-select1">
              <span class="input-label">Selecione o Hospital</span>
              <select>
                <option>Hospital Infantil Ismélia Silveira</option>
                <option>Hospital Municipal Duque de Caxias</option>
                <option>Hospital Estadual Adão Pereira Nunes</option>
                <option>Hospital Geral de Nova Iguaçu</option>
              </select>
            </label><p></p>
          <label class="item item-input item-select">
            <div class="input-label">
              ATENDIMENTO
            </div>
            <select>
              <option selected>★</option>
              <option>★★</option>
              <option>★★★</option>
              <option>★★★★</option>
              <option>★★★★★</option>
              <option>Não se aplica</option>
            </select>
          </label>
        </div>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              INFRAESTRUTURA
            </div>
            <select>
              <option selected>★</option>
              <option>★★</option>
              <option>★★★</option>
              <option>★★★★</option>
              <option>★★★★★</option>
              <option>Não se aplica</option>
            </select>
          </label>
        </div>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              FARMÁCIA
            </div>
            <select>
              <option selected>★</option>
              <option>★★</option>
              <option>★★★</option>
              <option>★★★★</option>
              <option>★★★★★</option>
              <option>Não se aplica</option>
            </select>
          </label>
        </div>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              UTI
            </div>
            <select>
              <option selected>★</option>
              <option>★★</option>
              <option>★★★</option>
              <option>★★★★</option>
              <option>★★★★★</option>
              <option>Não se aplica</option>
            </select>
          </label>
        </div>
        <div class="list">
          <label class="item item-input item-select">
            <div class="input-label">
              LOTAÇÃO
            </div>
            <select>
              <option selected>S/N</option>
              <option>Sim</option>
              <option>Não</option>
            </select>
          </label>
          <div class="spacer" style="width: 300px; height: 9px;"></div>
      <button id="avaliar-button8" style="border-radius:18px 18px 18px 18px;" class="button button-light">Salvar</button>
        </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <form id="avaliar-form7" class="list">
      <label class="item item-input" id="avaliar-textarea1">
        <span class="input-label">Comentários</span><textarea placeholder="Digite seu comentário...."></textarea></label>
      <div class="spacer" style="width: 300px; height: 9px;"></div>
      <button id="avaliar-button7" style="border-radius:18px 18px 18px 18px;" class="button button-light">Comentar</button>
    </form>
    <div id="avaliar-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Atendimento bom, porém a infraestrura é muito precaria.
        <strong>Anônimo</strong>
      </p>

      <p style="color:#FFFFFF;">Não tem remédios na farmacia.
        <strong>Anônimo</strong>
      </p>

      <p style="color:#FFFFFF;">Hospital super lotado demorei 3h para ser atendido.
        <strong>Anônimo</strong>
      </p>
    </div>
  </ion-content>
</ion-view>