<ion-view title="H. E. Adão Pereira Nunes" id="page9" style="background-color:#424242;">
  <ion-content padding="true" class="has-header">
    <ion-list id="hEAdOPereiraNunes-list10">
      <ion-item class="item-icon-left" id="hEAdOPereiraNunes-list-item12">
        <i class="icon ion-ionic"></i>Atendimento ㅤㅤㅤㅤㅤㅤㅤㅤ★★★★★</ion-item>
      <ion-item class="item-icon-left" id="hEAdOPereiraNunes-list-item13">
        <i class="icon ion-ionic"></i>Infraestrutura ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ★★★</ion-item>
      <ion-item class="item-icon-left" id="hEAdOPereiraNunes-list-item30">
        <i class="icon ion-ionic"></i>Farmáciaㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ ★★★</ion-item>
      <ion-item class="item-icon-left" id="hEAdOPereiraNunes-list-item31">
        <i class="icon ion-ionic"></i>UTIㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ★★★★</ion-item>
      <ion-item class="item-icon-left" id="hEAdOPereiraNunes-list-item32">
        <i class="icon ion-ionic"></i>Lotaçãoㅤㅤㅤㅤㅤㅤㅤㅤ  ㅤㅤㅤㅤㅤ ★★</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <form id="hEAdOPereiraNunes-form8" class="list">
      <label class="item item-input" id="hEAdOPereiraNunes-textarea2">
        <span class="input-label">Comentários</span><textarea placeholder="Digite seu comentário...."></textarea></label>
      <div class="spacer" style="width: 300px; height: 9px;"></div>
      <button id="hEAdOPereiraNunes-button8" style="border-radius:18px 18px 18px 18px;" class="button button-light">Comentar</button>
    </form>
    <div id="hEAdOPereiraNunes-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Atendimento bom, porém a infraestrura é muito precaria.
        <strong>Anônimo</strong><br>
        <a href="#" class="subdued">17 likes | 3 unlike | 7 comentários</a>
      </p>

      <p style="color:#FFFFFF;">Não tem remédios na farmacia.
        <strong>Anônimo</strong><br>
        <a href="#" class="subdued">12 likes | 6 unlike | 4 comentários</a>
      </p>

      <p style="color:#FFFFFF;">Hospital super lotado demorei 3h para ser atendido.
        <strong>Anônimo</strong><br>
        <a href="#" class="subdued">4 likes | 3 unlike | 6 comentários</a>
      </p>
    </div>
  </ion-content>
</ion-view>