<ion-view title="H. M. Dr. Moacyr R. do Carmo" id="page11" style="background-color:#424242;">
  <ion-content padding="true" class="has-header">
    <ion-list id="hMDrMoacyrRDoCarmo-list11">
      <ion-item class="item-icon-left" id="hMDrMoacyrRDoCarmo-list-item16">
        <i class="icon ion-ionic"></i>Atendimento  ㅤㅤㅤㅤㅤㅤㅤㅤㅤ★★★</ion-item>
      <ion-item class="item-icon-left" id="hMDrMoacyrRDoCarmo-list-item18">
        <i class="icon ion-ionic"></i>Infraestrutura   ㅤㅤㅤㅤㅤㅤㅤㅤㅤ★★★</ion-item>
      <ion-item class="item-icon-left" id="hMDrMoacyrRDoCarmo-list-item19">
        <i class="icon ion-ionic"></i>Farmácia    ㅤㅤㅤㅤㅤㅤㅤㅤㅤ★★★★★</ion-item>
      <ion-item class="item-icon-left" id="hMDrMoacyrRDoCarmo-list-item21">
        <i class="icon ion-ionic"></i>UTI     ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ ★★★</ion-item>
      <ion-item class="item-icon-left" id="hMDrMoacyrRDoCarmo-list-item22">
        <i class="icon ion-ionic"></i>Lotação      ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ ★★</ion-item>
    </ion-list>
    <form id="hMDrMoacyrRDoCarmo-form9" class="list">
      <div class="spacer" style="width: 300px; height: 9px;"></div>
      <label class="item item-input" id="hMDrMoacyrRDoCarmo-textarea3">
        <span class="input-label">Comentários</span><textarea placeholder="Digite seu comentário...."></textarea></label>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <button id="hMDrMoacyrRDoCarmo-button9" style="border-radius:18px 18px 18px 18px;" class="button button-light">Comentar</button>
    </form>
    <div id="hMDrMoacyrRDoCarmo-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Atendimento mediano e super lotado.
        <strong>Anônimo</strong><br>
        <a href="#" class="subdued">13 likes | 4 unlike | 4 comentários</a>
      </p>

      <p style="color:#FFFFFF;">Remédios tudo okay.
        <strong>Anônimo</strong><br>
        <a href="#" class="subdued">9 likes | 6 unlike | 2 comentários</a>
      </p>

      <p style="color:#FFFFFF;">UTI excelente só que é muito cheio.
        <strong>Anônimo</strong><br>
        <a href="#" class="subdued">3 likes | 3 unlike | 1 comentários</a>
      </p>
    </div>
  </ion-content>
</ion-view>