<ion-view title="Login" hide-nav-bar="true" id="page5" style="background-color:#424242;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/nQsqmPHyRhGOtnt6BNf7_hscore.png" style="display: block; width: 65%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form5" class="list">
      <ion-list id="login-list5">
        <label class="item item-input" id="login-input3">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input4">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 26px;"></div>
      <div>
        <a style="display:block;" ui-sref="selecionarHospital()">
          <img src="img/7guovmbXRFiCVdeywE3Q_4LSMF.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <div>
        <a style="display:block;" ui-sref="selecionarHospital()">
          <img src="img/1J3IA6N7SrepaB2aah5T_btn-facebook.png" style="display: block; width: 57%; height: auto; margin-left: auto; margin-right: auto;">
        </a>
      </div>
      <a ui-sref="selecionarHospital()" id="login-button6" style="color:#424242;border-radius:30px 30px 30px 30px;" class="button button-stable button-block icon-left ion-android-contact">Entrar</a>
    </form>
  </ion-content>
</ion-view>