<ion-view title="Menu" id="page8" style="background-color:#FFFFFF;">
  <ion-content padding="true" class="has-header">
    <ion-list id="menu-list9">
      <ion-item class="item-icon-left dark" id="menu-list-item9" ui-sref="avaliar()">
        <i class="icon ion-android-star-outline"></i>Avaliar</ion-item>
      <ion-item class="item-icon-left" id="menu-list-item10" ui-sref="suporte()">
        <i class="icon ion-android-people"></i>Suporte</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 217px;"></div>
    <ion-list id="menu-list14">
      <ion-item class="item-icon-left" id="menu-list-item11" ui-sref="login()">
        <i class="icon ion-android-contact"></i>Conectar</ion-item>
      <ion-item class="item-icon-left" id="menu-list-item28" ui-sref="home()">
        <i class="icon ion-android-exit"></i>Sair</ion-item>
    </ion-list>
  </ion-content>
</ion-view>