<ion-view title="Suporte" id="page13" style="background-color:#424242;">
  <ion-content padding="true" class="has-header">
    <form id="suporte-form11" class="list">
      <label class="item item-select" id="suporte-select1">
        <span class="input-label">Escolha uma opção</span>
        <select>
          <option>Sugestão para o Aplicativo</option>
          <option>Problema com Aplicativo</option>
          <option>Dúvida sobre o Aplicativo</option>
          <option>Outros</option>
        </select>
      </label>
      <div class="spacer" style="height: 100px;"></div>
      <label class="item item-input" id="suporte-textarea5">
        <span class="input-label">Digite sua sugestão/opinião.</span><textarea placeholder=""></textarea></label>
    </form>
    <a href="mailto:contato@contato.com" id="suporte-button12" style="border-radius:20px 20px 20px 20px;" class="button button-stable button-block">Enviar</a>
  </ion-content>
</ion-view>