<ion-view title="UPA - Surapui" id="page12" style="background-color:#424242;">
  <ion-content padding="true" class="has-header">
    <ion-list id="uPASurapui-list13">
      <ion-item class="item-icon-left" id="uPASurapui-list-item25">
        <i class="icon ion-ionic"></i>Atendimento      ㅤㅤㅤㅤㅤㅤ ㅤ ㅤ ㅤ ㅤ ★</ion-item>
      <ion-item class="item-icon-left" id="uPASurapui-list-item26">
        <i class="icon ion-ionic"></i>Infraestrutura      ㅤㅤㅤㅤㅤㅤ ㅤㅤㅤ★★★</ion-item>
      <ion-item class="item-icon-left" id="uPASurapui-list-item27">
        <i class="icon ion-ionic"></i>Farmácia       ㅤㅤㅤㅤㅤㅤ ㅤㅤㅤㅤㅤㅤ★★</ion-item>
      <ion-item class="item-icon-left" id="uPASurapui-list-item29">
        <i class="icon ion-ionic"></i>Lotação       ㅤㅤ ㅤㅤㅤㅤ ㅤㅤㅤㅤㅤㅤㅤ ★</ion-item>
    </ion-list>
    <form id="uPASurapui-form10" class="list">
      <div class="spacer" style="width: 300px; height: 9px;"></div>
      <label class="item item-input" id="uPASurapui-textarea4">
        <span class="input-label">Comentários</span><textarea placeholder="Digite seu comentário...."></textarea></label>
      <div class="spacer" style="width: 300px; height: 22px;"></div>
      <button id="uPASurapui-button10" style="border-radius:18px 18px 18px 18px;" class="button button-light">Comentar</button>
    </form>
    <div id="uPASurapui-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Super lotado.
        <strong>Anônimo</strong><br>
        <a href="#" class="subdued">22 likes | 1 unlike | 15 comentários</a>
      </p>

      <p style="color:#FFFFFF;">Não tem todos os remédios.
        <strong>Anônimo</strong><br>
        <a href="#" class="subdued">14 likes | 6 unlike | 4 comentários</a>
      </p>

      <p style="color:#FFFFFF;">Bom.
        <strong>Anônimo</strong><br>
        <a href="#" class="subdued">6 likes | 2 unlike | 5 comentários</a>
      </p>
    </div>
  </ion-content>
</ion-view>